<div class="container">
    <h1>Lista de Salas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Capacidade</th>
                <th>Equipamentos</th>
                <th>Dias de Funcionamento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms | async">
                <td>{{ room.id }}</td>
                <td>{{ room.nome }}</td>
                <td>{{ room.capacidade }}</td>
                <td>{{ room.equipamentos.join(', ') }}</td>
                <td>{{ room.diasFuncionamento.join(', ') }}</td>
                <td>
                    <!-- <button (click)="onUpdateRoom(room)">Atualizar</button> -->
                    <button class="btn btn-danger" (click)="onDeleteRoom(room)" [disabled]="!userIsAdmin()">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="onCreateRoom()" [disabled]="!userIsAdmin()">Criar Nova Sala</button>
</div>