<div class="container">
    <h1>Lista de Reservas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID Reserva</th>
                <th>Nome da Sala</th>
                <th>Nome do Solicitante</th>
                <th>Telefone</th>
                <th>Data de Início</th>
                <th>Data de Fim</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let schedule of schedules | async">
                <td>{{ schedule.id }}</td>
                <td>{{ schedule.sala.nome }}</td>
                <td>{{ schedule.nomePessoa}}</td>
                <td>{{ schedule.telefonePessoa}}</td>
                <td>{{ schedule.dataInicio}}</td>
                <td>{{ schedule.dataFim}}</td>
                <td>
                    <button class="btn btn-danger" (click)="onDeleteSchedule(schedule)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="onCreateSchedule()">Criar Nova Reserva</button>
</div>